In [1]:
# importing the libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')
%matplotlib inline
pd.set_option('display.max_columns', None)
pd.set_option('display.max_colwidth', None)

In [11]:
# reading data
train = pd.read_csv('datasets/zindi/solarcredit/Train.csv')
test = pd.read_csv('datasets/zindi/solarcredit/Test.csv')
split = train.shape[0]

In [12]:
# concatenating the datasets
dataset = pd.concat([train, test], axis=0)

In [17]:
dataset.head(5)

,ID,TransactionDates,PaymentsHistory,m1,m2,m3,m4,m5,m6
0,ID_P6IMAB9,"['5-2021', '4-2021', '5-2019', '6-2019', '12-2018', '11-2018', '3-2020', '9-2018', '4-2018', '2-2020', '4-2019', '1-2019', '8-2018', '3-2019', '2-2019', '10-2018', '5-2018', '8-2019', '7-2019', '7-2018', '11-2019', '9-2020']","[55.0, 110.0, 240.0, 900.0, 1330.0, 1190.0, 160.0, 1570.0, 2000.0, 170.0, 235.0, 1505.0, 200.0, 1075.0, 715.0, 550.0, 1405.0, 120.0, 180.0, 1365.0, 55.0, 55.0]",110.0,1650.0,1500.0,50.0,165.0,3000.0
1,ID_AF1HPAT,"['11-2017', '10-2017', '8-2018', '3-2018', '4-2018', '2-2018', '1-2018', '11-2018']","[1120.0, 3120.0, 1200.0, 880.0, 1360.0, 880.0, 1200.0, 240.0]",1120.0,1240.0,1360.0,760.0,560.0,1520.0
2,ID_12K3MTU,"['5-2021', '2-2021', '3-2021', '4-2021', '2-2019', '11-2020', '12-2019', '8-2019', '7-2019', '4-2020', '9-2020', '6-2020', '12-2020', '5-2019', '8-2020', '1-2021', '1-2019', '6-2019', '11-2019', '2-2020', '7-2020', '1-2020', '9-2019', '5-2020', '10-2019', '10-2020', '3-2020', '3-2019', '4-2018', '8-2018', '11-2018', '2-2018', '5-2018', '7-2018']","[460.0, 440.0, 650.0, 165.0, 1425.0, 330.0, 330.0, 550.0, 550.0, 660.0, 495.0, 330.0, 440.0, 605.0, 275.0, 110.0, 1435.0, 605.0, 220.0, 220.0, 55.0, 275.0, 220.0, 440.0, 685.0, 385.0, 110.0, 1600.0, 660.0, 440.0, 1080.0, 955.0, 660.0, 330.0]",1005.0,165.0,165.0,375.0,3000.0,165.0
3,ID_KIAESLK,"['6-2018', '4-2019', '6-2019', '3-2019', '7-2018', '7-2019', '4-2018', '8-2018', '9-2019', '5-2018', '2-2019', '9-2018', '11-2019', '11-2018', '10-2018', '12-2018']","[1375.0, 1540.0, 1455.0, 1540.0, 1434.0, 1540.0, 1485.0, 1430.0, 660.0, 1485.0, 1265.0, 1265.0, 1430.0, 1375.0, 1430.0, 1485.0]",1540.0,1430.0,851.0,1595.0,1320.0,4154.0
4,ID_SGM2MXY,"['3-2018', '12-2020', '4-2020', '3-2020', '6-2020', '4-2018', '8-2020', '4-2019', '5-2019', '10-2020', '11-2020', '9-2020', '5-2020', '2-2020', '7-2020', '6-2018', '5-2018', '12-2018', '3-2019', '11-2018', '9-2018', '2-2019', '1-2019', '1-2020', '2-2018', '6-2019', '8-2018', '8-2019', '7-2019']","[1420.0, 1618.0, 1522.0, 1125.0, 1043.0, 1405.0, 1265.0, 480.0, 635.0, 1565.0, 1445.0, 1585.0, 1312.0, 1110.0, 990.0, 2330.0, 1555.0, 740.0, 749.0, 1086.0, 160.0, 763.0, 593.0, 995.0, 3295.0, 270.0, 165.0, 230.0, 285.0]",550.0,288.0,100.0,190.0,100.0,120.0

In [16]:
# for col in dataset.columns:
#     if col in ['TransactionDates', 'PaymentsHistory']:
#         dataset[col] = dataset[col].str.split(',')
solar = dataset.copy()

In [18]:
solar.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3000 entries, 0 to 749
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID                3000 non-null   object
 1   TransactionDates  3000 non-null   object
 2   PaymentsHistory   3000 non-null   object
 3   m1                2250 non-null   float64
 4   m2                2250 non-null   float64
 5   m3                2250 non-null   float64
 6   m4                2250 non-null   float64
 7   m5                2250 non-null   float64
 8   m6                2250 non-null   float64
dtypes: float64(6), object(3)
memory usage: 298.9+ KB